.header {
   
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color : white;
    background-color: #7d7d7d;
} 
.body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}