.header {
    background-color: yellow;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
} 
img {
    background-image: "ick2321032/prg20241125/main_pic.png";
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}